<div class="row page-body">
  <div class="col-lg-8 col-lg-offset-2"> 
     <h1> About </h1>
    <p>Hi, I'm madhu - a Bangalore devloper. I love to work in JavaScript, JavaScript based frameworks and libraries.
      My recent crush is on node js.
    </p>
    <p> <a href="https://madhusuthanan-b.github.io/Angular-4/#/">Here</a> is another site im developing for exploring and exploiting angular 4 </p>
    <p>To know more about me, click <a href="https://www.gitshowcase.com/madhusuthanan-b">here</a> </p>
    <p>If you want to follow me on twitter, then click <a href="https://twitter.com/madhuddeveloper">here</a> </p>
  </div>
</div>